<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="libro,libros, canje,trueque, intercambio, permutar, permuto, foro, forum, comunidad">
    <meta name="description" content="Podrás intercambiar ideas, sugerencias, tips con los demás usuarios">

    <title>Comunidad- La Kermesse del Libro</title>
    
<!--Google Fonts-->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;900&display=swap" rel="stylesheet">

<!--Bottstrap CDN-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<!--Estilos CSS-->
<link rel="stylesheet" href="../assets/CSS/archivo.css">

<!--Estilos Forum Bootstrap-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="contenedorProyecto" id="home">
        <div class="headerUno"> 

            <header class="imagenBanner">
                <div class="bannerUno"></div>
        
                <div class="logo container"><img src="../imagenes/logokermessebasebanca.png" alt="Logo" class="img-fluid logo"></div>
            
                <h1 id="nombreDeLaMarca">La Kermesse del Libro</h1>        
            </header>
            
            </div>
            <div class="nav container-fluid">
            
            <nav class="navbar navbar-expand-lg navbar-light listasNav">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                    <li class="nav-item">
                    <a class="nav-link itemsNavBar text-light" href="../index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-light itemsNavBar" href="../views/mi-perfil.html">Mi Perfil</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light itemsNavBar" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Libros Disponibles</a>
                        <ul class="dropdown-menu itemsDropdown" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item text-light" href="../views/Libros_disponibles.html">Físicos</a></li>
                        <li><a class="dropdown-item text-light" href="../views/Libros_disponibles.html">Virtuales</a></li>
                        <li><hr class="dropdown-divider"></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light itemsNavBar" href="../views/Chats.html" tabindex="-1" aria-disabled="true">Chats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secundary disabled itemsNavBar" href="../views/Comunidad.html" tabindex="-1" aria-disabled="true">Comunidad</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control mr-2 input" type="search" placeholder="buscar" aria-label="buscar">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>
                </div>
            </nav>
        </div>

        <section>
            <div class="titulosNosotros perfil">
            <h2>Comunidad</h2>
            </div>
            <div class="container-fluid contenedorComunidad">
                <div class="row">
                    <div class="col-md-9 mb40">
                        <article>
                            <img src="../imagenes/imagen-comunidad.jpg" alt="" class="img-fluid mb30">
                            <div>
                                <h3 class="tituloComunidad">Nature Writing: literatura en contacto con la naturaleza</h3>
                                <ul class="post-meta list-inline">
                                    <li class="list-inline-item">
                                        <i class="fa fa-user-circle-o"></i> <a href="#" class="subtitulosComunidadUno">Elena Martínez
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-calendar-o"></i> <a href="#" class="subtitulosComunidadUno">2 de Junio de 2021</a>
                                    </li>
                                </ul>
                                <p class="textoComunidad">El <span class="font-italic">Nature Writing </span> se ha convertido en una categoría literaria que engloba todos aquellos escritos cuyo tema principal sea la naturaleza.
                                    Algunos escritores que practican este género se caracterizan por observar la naturaleza desde una perspectiva única y singular. </p>
                                <p class="textoComunidad">Es innegable que en apenas unos años, el mundo de la escritura y la literatura han ido evolucionando de manera vertiginosa. Hoy en día nos encontramos ante nuevos géneros y subgéneros literarios que antes no se consideraban, así como diversidad de plataformas emergentes que nos permiten crear y dar a conocer nuestras propias obras. Pues bien, parece ser que entre estos nuevos géneros hay uno en concreto, aunque quizás no sea tan nuevo, que ha venido para quedarse.</p>
                                <p class="textoComunidad">Este género encuentra sus orígenes en aquellos ensayos y novelas que naturalistas franceses, estadounidenses y británicos, comenzaron a redactar a finales del siglo XVIII y principios del siglo XIX.  Entre ellos, podemos destacar al autor <strong>Gilbert White </strong>, que fue un naturalista inglés que en el año 1789 publicó una relevante obra sobre historia natural.</p>
                                <p class="textoComunidad">Debido en parte a la <strong>emergencia climática que vive nuestro planeta</strong>, donde la contaminación, la desertificación o la deforestación son problemas reales y que requieren de una solución inmediata, en una parte de la población se ha despertado cierta curiosidad y anhelo por leer y documentarse sobre el tema, y todo lo que pueda afectar al medio natural.</p>
                                <p class="textoComunidad">No obstante, hay escritores que deciden dar un paso más allá y no se contentan únicamente con escribir una novela sobre la naturaleza, sino que además, se proponen como reto escribir sobre el tema mientras se documentan en <strong>convivencia con la propia natura. </strong></p>
                                <p class="textoComunidad">Estos autores afirman que esta experiencia inmersiva es única, pues la proximidad con la naturaleza les permite reflejar con mucha más claridad todos aquellos fenómenos e ideas que pueden llegar a observar a lo largo de esta etapa. </p>
                                <p class="textoComunidad"> Sin embargo, este género nos permite a los lectores poder conocer mucho más a fondo un hábitat que para muchos, debido al frenético ritmo de nuestras vidas, nos resulta lejano e incluso un regalo. Además, algunas de estas novelas brindan una parte didáctica, aportando <strong>información sobre especies de flora y fauna </strong>que nos son desconocidas, así como acontecimientos que ocurren habitualmente en nuestros ecosistemas y de los cuales no somos conocedores. Así que, si el día a día no te permite escaparte al campo o a la montaña, hazte con un buen libro de este género y déjate envolver por la naturaleza.</p>
                                <ul class="list-inline share-buttons">
                                    <li class="list-inline-item subtitulosComunidad">Compartir:</li>
                                    <li class="list-inline-item">
                                        <a href="#" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                                            <i class="fa fa-facebook subtitulosComunidad"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                                            <i class="fa fa-twitter subtitulosComunidad"></i>
                                        </a>
                                    </li>
                                </ul>
                                <hr class="mb40">
                                <h4 class="mb40 text-uppercase subtitulosComunidad font-weight-bold">Comentario</h4>
                                <div class="media mb40">
                                    <img src="../imagenes/profile5.png" alt="Usuario5">
                                    <div class="media-body">
                                        <h5 class="mt-0 font400 clearfix">
                                        <a href="#" class="float-right btn btn-primary fuentesTexto botonActivoUno">Responder</a>
                                        <div class="subtitulosComunidadDos">Luis Guerra</div> 
                                    </h5> 
                                        <div class="textoComentarios">Muchas gracias Elena por compartir tus conocimientos en el tema!</div> 
                                        <hr class="mb40">
                                    </div>
                                </div>
                                <div class="media mb40">
                                    <img src="../imagenes/profile6.png" alt="Usuario6">
                                    <div class="media-body">
                                        <h5 class="mt-0 font400 clearfix">
                                        <a href="#" class="float-right btn btn-primary fuentesTexto botonActivoUno">Responder </a>
                                        <div class="subtitulosComunidadDos">Michael Jordan</div>
                                    </h5> 
                                        <div class="textoComentarios">Muy buen post! Me parece bastante completo.</div>
                                        <hr class="mb40">
                                    </div>
                                </div>
                                <div class="media mb40">
                                    <img src="../imagenes/profile7.png" alt="Usuario7">
                                    <div class="media-body">
                                        <h5 class="mt-0 font400 clearfix">
                                            <a href="#" class="float-right btn btn-primary fuentesTexto botonActivoUno">Responder</a>
                                            <div class="subtitulosComunidadDos"> Samuel Vargas</div>
                                        </h5> 
                                            <div class="textoComentarios">Creo que se podría ahondar un poco más sobre la literatura Nature  Writing.</div>
                                            <hr class="mb40">
                                    </div>
                                </div>
                                <hr class="mb40">
                                <h4 class="mb40 text-uppercase subtitulosComunidad font-weight-bold">Escribir un comentario</h4>
                                <form role="form">
                                    <div class="form-group">
                                        <label>Usuario</label>
                                        <input type="text" class="form-control" placeholder=" Introduzca Nombre">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="Introduzca mail">
                                    </div>
                                    <div class="form-group">
                                        <label>Comentario</label>
                                        <textarea class="form-control" rows="5" placeholder="Commentario"></textarea>
                                    </div>
                                    <div class="clearfix float-right">
                                        <button type="button" class="btn btn-primary btn-lg fuentesTexto botonActivoUno">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-3 mb40">
                        <div class="mb40">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Buscar..." aria-describedby="basic-addon2">
                                    <button type="button" class="btn btn-info">
                                        <i class="fa fa-search" ></i>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="mb40">
                            <h3 class="sidebar-title  font-weight-bold subtitulosComunidad">Categorias</h3>
                            <ul class="list-unstyled categories">
                                <li><a href="#" class="subtitulosComunidadUno">Diccionario para entender las redes sociales literarias</a></li>
                                <li><a href="#" class="subtitulosComunidadUno">Retellings</a></li>
                                <li class="active" class="subtitulosComunidadUno"><a href="#" class="subtitulosComunidadUno">Lector de Sensibilidad</a>
                                    <ul class="list-unstyled">
                                        <li><a href="#" class="subtitulosComunidadUno">Recomiendáme un libro</a></li>
                                        <li><a href="#" class="subtitulosComunidadUno">Libros Vituales vs Libros Físicos</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" class="subtitulosComunidadUno">Top Rating</a></li>
                                <li><a href="#" class="subtitulosComunidadUno">Trending Topic</a></li>
                                <li><a href="#" class="subtitulosComunidadUno">Nuenos post</a></li>
                            </ul>
                        </div>

                        <div>
                            <h3 class="sidebar-title font-weight-bold subtitulosComunidad">Destacados</h3>
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="d-flex mr-3 img-fluid" width="64" src="../imagenes/profile1.png" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1"><a href="#" class="subtitulosComunidadDos">Ficciones Breves</a></h5>
                                        <div class="subtitulosComunidadDos">
                                            05 de Abril, 2019
                                        </div> 
                                    </div>
                                </li>
                                <li class="media my-4">
                                    <img class="d-flex mr-3 img-fluid" width="64" src="../imagenes/profile2.png" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1"><a href="#" class="subtitulosComunidadDos">Por qué amamos los libros?</a></h5> 
                                        <div class="subtitulosComunidadDos">
                                            05 de Enero, 2019
                                        </div> 
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="d-flex mr-3 img-fluid" width="64" src="../imagenes/profile4.png" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1"><a href="#" class="subtitulosComunidadDos">30 grandes citas de la Literatura Universal</a></h5> 
                                        <div class="subtitulosComunidadDos">
                                            15 de Diciembre, 2018
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footerUno container-fluid"> 
            <div class="listasFooter inicio col-sm-12 col-lg-3"><a href="#home" class="listasFooter">Inicio</a></div>
            <div class="listasFooter col-sm-12 col-lg-3 secciones">
                <ul>
                <a href="../views/mi-perfil.html" class="subtituloFooter"><li>Mi Perfil</li></a>
                <a href="../views/Chats.html"class="subtituloFooter"><li>Chats</li></a>
                <a href="../views/Comunidad.html"class="subtituloFooter"><li>Comunidad</li></a>
                </ul>
            </div>
            <div class="listasFooter tituloFooter col-sm-12 col-lg-3 libros"> 
                <div class="footerLibro"><h6>Libros Disponibles</h6></div>  
                <ul>
                <a href="../views/Libros_disponibles.html" class="subtituloFooter"><li>Fisicos</li></a>
                <a href="../views/Libros_disponibles.html" class="subtituloFooter"><li>Virtuales</li></a>
                </ul>
            </div>
            <div class="listasFooter"> <h6 class="contacto col-sm-12 col-lg-3">Contáctanos</h6>
                <div class="redesSociales">
                <div class="logoRedSocial"><a href="#"><img src="../imagenes/mail-01-01.png" class="img-fluid" alt="mail"></a></div>
                <div class="logoRedSocial"><a href="#"><img src="../imagenes/facebook-01-01.png" class="img-fluid"  alt="facebook"></a></div>
                <div class="logoRedSocial"> <a href="#"><img src="../imagenes/twitter-01-01.png" class="img-fluid" alt="twitter"></a></div>
            </div>
            </div>
        
            <div class="derechos">
                <p>©Todos los derechos reservados. Argentina, 2021 - Melisa Oro </p>
            </div>
            </div>
        </footer> 

</div>

<!--SCRIPTS-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</body>
</html>
