<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="libro, libros, canje, cambiar,escrito, escrituras, tratado,trueque, intercambio, permutar, permuto, libros físicos, e-book, virtual">

    <meta name="description" content="Aquí podrás encontrar las listas de los libros disponibles para canjear, tanto físicos como virtuales">


        <title>Libros Disponibles- La Kermesse del Libro</title>

<!--Google Fonts-->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;900&display=swap" rel="stylesheet">

<!--Bottstrap CDN-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<!--Estilos CSS-->
<link rel="stylesheet" href="../assets/CSS/archivo.css">

    </head>
 <body>

  <div class="contenedorProyecto">

    <div class="headerUno"> 
    
      <header class="imagenBanner">
        <div class="logo container-fluid"><img src="../imágenes/logo 100x100.png" alt="Logo" class="img-fluid"></div>
                
        <div class="container-fluid contenedorBoton">
          <a href="./Iniciar_sesion.html"><button type="button" class="btn btn-light btn-lg banner">Iniciar Sesión</button></a>
            
          <a href="./registrarte.html"><button type="button" class="btn btn-light btn-lg banner">Registrarse</button></a>
        </div>

        <h1 id="nombreDeLaMarca">La Kermesse del Libro</h1>       

      </header>
        
    </div>

    <div class="nav container-fluid">

      <nav class="navbar navbar-expand-lg navbar-light listasNav">

        <a class="navbar-brand" href="#">logo</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
          
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item">
                <a class="nav-link itemsNavBar text-light" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light itemsNavBar" href="./mi-perfil.html">Mi Perfil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-secundary itemsNavBar nav-link disabled" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Libros Disponibles</a>

                <ul class="dropdown-menu itemsDropdown" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item text-secundary" href="#">Físicos</a></li>
                    <li><a class="dropdown-item text-secundary" href="#">Virtuales</a></li>
                    <li><hr class="dropdown-divider"></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light itemsNavBar " href="./Chats.html" tabindex="-1" aria-disabled="true">Chats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light itemsNavBar" href="./Comunidad.html" tabindex="-1" aria-disabled="true">Comunidad</a>
            </li>
          </ul>
                  <form class="d-flex">
                    <input class="form-control mr-2 input" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                  </form>
                </div>
      </nav>
    </div>

<section>
  
        <div class="contenedorListaLibros">

          <div class="tituloPrincipalAcordion"><h2>Libros disponibles</h2></div>
        
          <div>
            <input type="radio" id="tab-1" name="tabs">
            <label for="tab-1"><div class="cajaAbc"> <h3 class="abc">A</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros" >Ana Karenina </h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Antígona</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>
        
          <div>
            <input type="radio" id="tab-2" name="tabs">
            <label for="tab-2"><div class="cajaAbc"><h3 class="abc">B</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Blancanieves</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Buscadores de tesoros (El asombroso mundo de Jaom)</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>  


          <div>
            <input type="radio" id="tab-3" name="tabs">
            <label for="tab-3"><div class="cajaAbc"> <h3 class="abc">C</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Cien años de soledad</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Crimen y Castigo</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>
        
          <div>
            <input type="radio" id="tab-4" name="tabs">
            <label for="tab-4"><div class="cajaAbc"><h3 class="abc">D</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Diarios de una pasión</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Drácula</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div> 



          <div>
            <input type="radio" id="tab-5" name="tabs">
            <label for="tab-5"><div class="cajaAbc"> <h3 class="abc">E</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">El Código da Vinci</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Expiación</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>
        
          <div>
            <input type="radio" id="tab-6" name="tabs">
            <label for="tab-6"><div class="cajaAbc"><h3 class="abc">F</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Frankenstein</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Fábulas argentinas,</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div> 


          <div>
            <input type="radio" id="tab-7" name="tabs">
            <label for="tab-7"><div class="cajaAbc"> <h3 class="abc">G</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Gerona</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Gil Braltar</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>
        
          <div>
            <input type="radio" id="tab-8" name="tabs">
            <label for="tab-8"><div class="cajaAbc"><h3 class="abc">H</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Hamlet</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Homero</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div> 

          <div>
            <input type="radio" id="tab-9" name="tabs">
            <label for="tab-9"><div class="cajaAbc"> <h3 class="abc">I</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Intriga y amor</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Isabel</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>
        
          <div>
            <input type="radio" id="tab-10" name="tabs">
            <label for="tab-10"><div class="cajaAbc"><h3 class="abc">J</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Jack y Jill</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Juvenilia</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div> 



          <div>
            <input type="radio" id="tab-11" name="tabs">
            <label for="tab-11"><div class="cajaAbc"> <h3 class="abc">K</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Kashtanka</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Kurios</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>
        
          <div>
            <input type="radio" id="tab-12" name="tabs">
            <label for="tab-12"><div class="cajaAbc"><h3 class="abc">L</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">La bella durmiente</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">La dama de las camelias</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div> 


          <div>
            <input type="radio" id="tab-13" name="tabs">
            <label for="tab-13"><div class="cajaAbc"> <h3 class="abc">M</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Madame Bovary</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Martin Fierro</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>
        
          <div>
            <input type="radio" id="tab-14" name="tabs">
            <label for="tab-14"><div class="cajaAbc"><h3 class="abc">N</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Naranjo en flor</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Neogauchos</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div> 

          <div>
            <input type="radio" id="tab-15" name="tabs">
            <label for="tab-15"><div class="cajaAbc"> <h3 class="abc">O</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Oliver Twist</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Otelo</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>
        
          <div>
            <input type="radio" id="tab-16" name="tabs">
            <label for="tab-16"><div class="cajaAbc"><h3 class="abc">P</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Príncipe y Mendigo</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Piel de Ebano</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div> 


          <div>
            <input type="radio" id="tab-17" name="tabs">
            <label for="tab-17"><div class="cajaAbc"> <h3 class="abc">Q</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Querido Papá</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Quien no te conozca que te compre</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>
        
          <div>
            <input type="radio" id="tab-18" name="tabs">
            <label for="tab-18"><div class="cajaAbc"><h3 class="abc">R</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Relatos antiplatónicos</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Romeo y Julieta</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div> 


          <div>
            <input type="radio" id="tab-19" name="tabs">
            <label for="tab-19"><div class="cajaAbc"> <h3 class="abc">S</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Sandokán, el Rey del Mar</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Sueños de una noche de verano</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>
        
          <div>
            <input type="radio" id="tab-20" name="tabs">
            <label for="tab-20"><div class="cajaAbc"><h3 class="abc">T</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Teodicea</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Todos quieren a Daisy Jones</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div> 


          <div>
            <input type="radio" id="tab-21" name="tabs">
            <label for="tab-21"><div class="cajaAbc"> <h3 class="abc">U</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Un destello de su gloria</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Una Educación mortal</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>
        
          <div>
            <input type="radio" id="tab-22" name="tabs">
            <label for="tab-22"><div class="cajaAbc"><h3 class="abc">V</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Veinte años después</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Verónica decide morir</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div> 


          <div>
            <input type="radio" id="tab-23" name="tabs">
            <label for="tab-23"><div class="cajaAbc"> <h3 class="abc">W</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Wolfang Amadeus Mozart por sí mismo</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Wilde</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>
        
          <div>
            <input type="radio" id="tab-24" name="tabs">
            <label for="tab-24"><div class="cajaAbc"><h3 class="abc">X</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Xaimaca</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">XX Poemas Furtivos</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div> 


          <div>
            <input type="radio" id="tab-25" name="tabs">
            <label for="tab-25"><div class="cajaAbc"> <h3 class="abc">Y</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Yang-Hun-Tsy,</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Yo acuso</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div>
        
          <div>
            <input type="radio" id="tab-26" name="tabs">
            <label for="tab-26"><div class="cajaAbc"><h3 class="abc">Z</h3></div><div class="signoMas"></div></label>
            <div class="content">
              <ul>
                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Zamenhof: Iniciador del Esperanto</h5></a></div>
                </li>

                <li> 
                  <div> <img src="../imágenes/icono Llove-01.png" alt=""><a href=""><h5 class="portadaLibros">Zinochka</h5></a></div>
                </li> 
                
              </ul>
            </div>
          </div> 








            </div>
</section> 

<div class="footer">
    <ul class="footerUno">
        <a href="home"><li class="listasFooter font-italic"> <h6>Ir Arriba</h6></li></a> 
         <li class="listasFooter font-italic"> <h6>Nosotros</h6></li>
         <li class="listasFooter font-italic"><h6>FAQ</h6></li>
         <li class="listasFooter font-italic"><h6>Contáctanos</h6></li>
         <li class="listasFooter font-italic"><h6>Políticas y Condiciones</h6></li>
     </ul>
</div>  

</div>

    <!--SCRIPTS-->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</html>
