<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="libro, libros, canje, cambiar,escrito, escrituras, tratado,trueque, intercambio, permutar, permuto">
    <meta name="description" content="Sumate a la experiencia de canjear libros, tanto virtuales como físicos. Canjeamos emociones, canjeamos anécdotas">
<title>Home- La Kermesse del Libro</title>

<!--Google Fonts-->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;900&display=swap" rel="stylesheet">

<!--Google Fonts-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">

<!--Bottstrap CDN-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<!--Estilos CSS-->
<link rel="stylesheet" href="../assets/CSS/archivo.css">

</head>

<body>

  <div class="contenedorProyecto fondoSecciones" id="home">

  <div class="headerUno"> 

    <header class="imagenBanner">
      <div class="bannerUno">

      </div>


      <div class="logo container"><img src="../imagenes/logokermessebasebanca.png" alt="Logo" class="img-fluid logo"></div>
    
        <h1 id="nombreDeLaMarca">La Kermesse del Libro</h1>        
    
    </header>
    
  </div>
    
  <div class="nav container-fluid">
    
    <nav class="navbar navbar-expand-lg navbar-light listasNav">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
          <li class="nav-item">
            <a class="nav-link itemsNavBar text-light" href="../index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled text-secundary itemsNavBar" href="../views/mi-perfil.html">Mi Perfil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light itemsNavBar" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Libros Disponibles</a>
              <ul class="dropdown-menu itemsDropdown" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item text-light" href="../views/Libros_disponibles.html">Físicos</a></li>
                <li><a class="dropdown-item text-light" href="../views/Libros_disponibles.html">Virtuales</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light itemsNavBar" href="../views/Chats.html" tabindex="-1" aria-disabled="true">Chats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light itemsNavBar" href="../views/Comunidad.html" tabindex="-1" aria-disabled="true">Comunidad</a>
            </li>
        </ul>
        <form class="d-flex">
          <input class="form-control mr-2 input" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>
<section>
<div class="titulosNosotros perfil"><h2>Mi Perfil</h2></div>

  <div class="fotoMiPerfil">
    <img src="../imagenes/fotoperfil-01.png" alt="fotoperfil" class="img-fluid">
    <div><a href="#">Cambiar Foto</a></div>
  </div>

<div class="fuentesTitulo tituloDatos"><h3>Mis Datos</h3></div>
  <div class="datosPersonales">
    <ul>
    <li> <strong>Nombre:</strong> Sabina Mosquera</li>
    <li> <strong>Mail:</strong>sabinamosquera@outlook.com</li>
    <li> <strong>Edad:</strong> 29 años</li>
    <li> <strong>Dirección:</strong> Dr. Soler 1450</li>
    <li> <strong>Localidad:</strong> Santa Rosa de Rio Primero</li>
    <li> <strong>Provincia:</strong> Córdoba</li>
    <li> <strong>Usuario desde:</strong> Junio 2020</li>
    </ul>
  </div>

<div><a href="#" class="agregarQuitarCanjear">Canjear Datos</a></div>

<div class="fuentesTitulo tituloDatos"><h3>Mis Libros Publicados</h3></div>

<section class="container librosPublicados">

    <div class="col-6 col-sm-6 col-ms-3 col-lg-3 col-xl-3">
      <div class="imagenLibroPerfil">
        <img src="../imagenes/komorebi.png"class="img-fluid " alt="portadaKomerebi">
      </div>
      <div>
        <h5>Komerebi</h5>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-ms-3 col-lg-3 col-xl-3">
      <div class="imagenLibroPerfil">
        <img src="../imagenes/lainstitutriz.png"class="img-fluid " alt="portadalainstitutriz">
      </div>
      <div>
        <h5>La Institutriz</h5>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-ms-3 col-lg-3 col-xl-3 cardHidden">
      <div class="imagenLibroPerfil">
        <img src="../imagenes/lamiradaperdida.png"class="img-fluid " alt="portadalamiradaperdida">
      </div>
      <div>
        <h5>La Mirada Perdida</h5>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-ms-3 col-lg-3 col-xl-3 cardHidden">
      <div class="imagenLibroPerfil">
        <img src="../imagenes/Nuestrapartedenoche-02.png"class="img-fluid" alt="portadanuestrapartedenoche">
      </div>
      <div>
        <h5> Nuestra Parte <br> de Noche</h5>
      </div>
    </div>
</section>

<div class="agregarQuitarCanjear"><a href="#"><img src="../imagenes/signomas.png" alt="mas">Agregar libro</a></div>
<div class="agregarQuitarCanjear"><a href="#"><img src="../imagenes/signomenos.png" alt="menos"> Quitar libro</a></div>


<div class="fuentesTitulo tituloDatos"><h3>Preferencias</h3></div>

<div class="datosPersonales"> 

  <div>
    <form action="">
      <div>Físico
        <input type="checkbox" name="Fisico" value="1">
      </div> 
      <div> Virtual
        <input type="checkbox" name="Virtual" value="1">
      </div>
      <div>Literatura Romántica
      <input type="checkbox" name="Literatura Romántica" value="1">
      </div> 
      <div> Literatura Erótica
      <input type="checkbox" name="Literatura Erótica" value="1">
      </div>
      <div>Biografía
      <input type="checkbox" name="Biografía" value="1">
      </div>
      <div>Fotografía
        <input type="checkbox" name="Fotografía" value="1">
      </div>
      <div>Ciencia Ficción
      <input type="checkbox" name="Ciencia Ficción" value="1">
      </div>
      <div>Cómic/Manga
      <input type="checkbox" name="Cómic/Manga" value="1">
      </div>
      <div>Literatura Infantil
      <input type="checkbox" name="Literatura Infantil" value="1">
      </div>
      <div>Literatura Juvenil
      <input type="checkbox" name="Literatura Juvenil" value="1">
      </div>
      <div>Fantasía
      <input type="checkbox" name="Fantasía" value="1">
      </div>
    <div>Actualidad
      <input type="checkbox" name=" Actualidad" value="1">
    </div>
    <div>Arte
      <input type="checkbox" name="Arte" value="1">
    </div>
  </form>
  </div>

</div>

<div class="fuentesTitulo tituloDatosUno"><h3>Mis Puntos</h3></div>
<div class="datosPersonalesUno">250 puntos</div>
<div><a href="#" class="agregarQuitarCanjear">Canjear Puntos</a></div>

</section>

<footer class="footer">
  <div class="footerUno container-fluid"> 
  <div class="listasFooter inicio col-sm-12 col-lg-3"><a href="#home" class="listasFooter">Inicio</a></div>
    <div class="listasFooter col-sm-12 col-lg-3 secciones">
      <ul>
        <a href="../views/mi-perfil.html" class="subtituloFooter"><li>Mi Perfil</li></a>
        <a href="../views/Chats.html"class="subtituloFooter"><li>Chats</li></a>
        <a href="../views/Comunidad.html"class="subtituloFooter"><li>Comunidad</li></a>
      </ul>
    </div>
    <div class="listasFooter tituloFooter col-sm-12 col-lg-3 libros"> 
      <div class="footerLibro"><h6>Libros Disponibles</h6></div>  
      <ul>
        <a href="../views/Libros_disponibles.html" class="subtituloFooter"><li>Fisicos</li></a>
        <a href="../views/Libros_disponibles.html" class="subtituloFooter"><li>Virtuales</li></a>
      </ul>
    </div>
    <div class="listasFooter"> <h6 class="contacto col-sm-12 col-lg-3">Contáctanos</h6>
      <div class="redesSociales">
      <div class="logoRedSocial"><a href="#"><img src="../imagenes/mail-01-01.png" class="img-fluid" alt="mail"></a></div>
      <div class="logoRedSocial"><a href="#"><img src="../imagenes/facebook-01-01.png" class="img-fluid"  alt="facebook"></a></div>
      <div class="logoRedSocial"> <a href="#"><img src="../imagenes/twitter-01-01.png" class="img-fluid" alt="twitter"></a></div>
    </div>
  </div>

  <div class="derechos">
    <p>©Todos los derechos reservados. Argentina, 2021 - Melisa Oro </p>
  </div>
  </div>
</footer>


</div> 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>

</head>

</html>
