<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Mis Preferencias - La Kermesse del Libro</title>
<link rel="stylesheet" href="../assets/estilos.css">

<!--Google Fonts-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <!--Acá va el banner con el nombre de la marca y el logo-->

    <img src="../imágenes/banner.jpg" alt="Libros" id="imagenBanner">

     <h1 id="nombreDeLaMarca">La Kermesse del Libro</h1>

</header>

<!--Acá va la barra de navegación-->

<nav>
    <ul>
    
    <a href="../index.html" class="seccionesNav"><li><h4>Home</h4></li></a>
    
    <a href="../views/mi-perfil.html" class="seccionesNav"><li><h4>Mi Perfil</h4></li></a>
    
    <a href="../views/Libros_disponibles.html" class="seccionesNav"><li><h4>Libros Disponibles</h4></li> </a>
    <form action="">
    
    <select name="Libros Disponibles">
    
    <option value="Virtuales">Virtuales</option>
    
    <option value="Físicos">Físicos</option>
    
    </select>
    
    </form>
    <a href="../views/Chats.html" class="seccionesNav"><li><h4>Chats</h4></li></a>
    
    <a href="../views/Comunidad.html" class="seccionesNav"><li><h4>Comunidad</h4></li></a>
        <br>
    </ul>
    
    </nav>

<section>
<h3 class="titulosSeccion"> Mis Preferencias</h3>

<form >
<div class="listasMiPerfil">Literatura Romántica
<input type="checkbox" name="Literatura Romántica" value="1">
</div> 
<br>
<div class="listasMiPerfil"> Literatura Erótica
<input type="checkbox" name="Literatura Erótica" value="1">
</div>
<br>
<div class="listasMiPerfil">Biografía
<input type="checkbox" name="Biografía" value="1">
</div>
<br>
<div class="listasMiPerfil">Ciencia Ficción
<input type="checkbox" name="Ciencia Ficción" value="1">
</div>
<br>
<div class="listasMiPerfil">Cómic/Manga
<input type="checkbox" name="Cómic/Manga" value="1">
</div>
<br>
<div class="listasMiPerfil">Fantasía
<input type="checkbox" name="Fantasía" value="1">
</div>
<br>
<div class="listasMiPerfil">Literatura Infantil
<input type="checkbox" name="Literatura Infantil" value="1">
</div>
<br>
<div class="listasMiPerfil">Literatura Juvenil
<input type="checkbox" name="Literatura Juvenil" value="1">
</div>
<br>

</form>
</section>
<hr>

<footer>
    <ul>
        <li> <h5>Ir Arriba</h5></li>
        <li> <h5>Nosotros</h5></li>
        <li><h5>Políticas y Condiciones</h5></li>
        <li><h5>FAQ</h5></li>
        <li><h5>Contáctanos</h5></li>
    </ul>
    </footer>

</body>
</html>   
