<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Registrarte- La Kermesse del Libro</title>

<!--Google Fonts-->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;900&display=swap" rel="stylesheet">

<!--Bottstrap CDN-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<!--Estilos CSS-->
<link rel="stylesheet" href="../assets/CSS/archivo.css">

    </head>
<body>

  <div class="contenedorProyecto fondoSecciones" id="home">
    <div class="headerUno"> 

      <header class="imagenBanner">
        <div class="bannerUno"></div>
  
        <div class="logo container"><img src="../imagenes/logokermessebasebanca.png" alt="Logo" class="img-fluid logo"></div>
      
          <h1 id="nombreDeLaMarca">La Kermesse del Libro</h1>        
      
      </header>
      
    </div>
      
    <div class="nav container-fluid">
      
      <nav class="navbar navbar-expand-lg navbar-light listasNav">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item">
              <a class="nav-link itemsNavBar text-light" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light itemsNavBar" href="../views/mi-perfil.html">Mi Perfil</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light itemsNavBar" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Libros Disponibles</a>
                <ul class="dropdown-menu itemsDropdown" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item text-light" href="../views/Libros_disponibles.html">Físicos</a></li>
                  <li><a class="dropdown-item text-light" href="../views/Libros_disponibles.html">Virtuales</a></li>
                  <li><hr class="dropdown-divider"></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light itemsNavBar" href="../views/Chats.html" tabindex="-1" aria-disabled="true">Chats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light itemsNavBar" href="../views/Comunidad.html" tabindex="-1" aria-disabled="true">Comunidad</a>
              </li>
          </ul>
          <form class="d-flex">
            <input class="form-control mr-2 input" type="search" placeholder="buscar" aria-label="buscar">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
    </div>

    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card-group mb-0">
              <div class="card-body contenedorChat">
                  <div class="titulosNosotros perfil">
                  <h2>Registrarse</h2>
                  </div>
                  <div class="botonRedSocial">
                    <a href="#"> <img src="../imagenes/facebook-01-01.png" alt=""> </a>
                    <a href="#"> <img src="../imagenes/twitter-01-01.png" alt=""> </a>
                  </div>
                  <div class="login-or">
                    <hr class="hr-or">
                    <span class="span-or">o</span>
                  </div>
                  <div class="form-group">
                      <form id="login-nav" method="post" role="form" class="form" accept-charset="UTF-8">
                        <div class="form-group">
                          <input type="text" id="reg_username" name="user_name" class="form-control"
                          value="" placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <input type="password" id="reg_userpassword" name="user_password" class="form-control" data-placement="bottom" data-toggle="popover" data-container="body" data-html="true" value="" placeholder="Contraseña" required>
                          </div>
                        </div>      
                        <div class="form-group">
                          <div class="input-group">
                            <input type="password" id="reg_userpasswordconfirm" class="form-control" data-placement="bottom" data-toggle="popover" data-container="body" data-html="true" placeholder="Confirmar Contraseña" required>
                          </div>
                        </div>
                        <div class="form-check">
                          <input type="checkbox" id="reg_remember" name="user_remember" class="form-check-input" value="1">
                          <label class="form-check-label textoComentarios">Recordarme</label>
                          <br>
                        </div>
                        <div class="textoComentarios">¿Desea recibir nuestras novedades? </div>
                        <div class="textoComentarios">
                            <label for="Si">Si</label>
                            <input type="radio" name="si" value="si">
                        </div>
                        <div class="textoComentarios">
                            <label for="Si">No</label>
                            <input type="radio" name="no" value="no">
                        </div>
                        <div>
                        <input type="reset" value="Resetear" class="botonReset text-light">
                        </div>
                      </form>
                      <div>
                        <button type="button" class="btn btn-primary px-4 botonActivoUno">Confirmar</button>
                      </div>
                    </div>
                    <div class="bottom text-center textoComentarios">
                      Eres usuario? <a href="#"><b class="subtitulosComunidad">Iniciar Sesión</b></a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  <footer class="footer">
    <div class="footerUno container-fluid"> 
      <div class="listasFooter inicio col-sm-12 col-lg-3"><a href="#home" class="listasFooter">Inicio</a></div>
      <div class="listasFooter col-sm-12 col-lg-3 secciones">
        <ul>
          <a href="./views/mi-perfil.html" class="subtituloFooter"><li>Mi Perfil</li></a>
          <a href="./views/Chats.html"class="subtituloFooter"><li>Chats</li></a>
          <a href="./views/Comunidad.html"class="subtituloFooter"><li>Comunidad</li></a>
        </ul>
      </div>
      <div class="listasFooter tituloFooter col-sm-12 col-lg-3 libros"> 
        <div class="footerLibro"><h6>Libros Disponibles</h6></div>  
        <ul>
          <a href="./views/Libros_disponibles.html" class="subtituloFooter"><li>Fisicos</li></a>
          <a href="./views/Libros_disponibles.html" class="subtituloFooter"><li>Virtuales</li></a>
        </ul>
      </div>
      <div class="listasFooter"> <h6 class="contacto col-sm-12 col-lg-3">Contáctanos</h6>
        <div class="redesSociales">
          <div class="logoRedSocial"><a href="#"><img src="../imagenes/mail-01-01.png" class="img-fluid" alt="mail"></a></div>
          <div class="logoRedSocial"><a href="#"><img src="../imagenes/facebook-01-01.png" class="img-fluid"  alt="facebook"></a></div>
          <div class="logoRedSocial"> <a href="#"><img src="../imagenes/twitter-01-01.png" class="img-fluid" alt="twitter"></a></div>
        </div>
      </div>
  
      <div class="derechos">
        <p>©Todos los derechos reservados. Argentina, 2021 - Melisa Oro </p>
      </div>
    </div>
  </footer>
</div>
</body>


</html>
