body{
    margin-top:20px;
}

.contenedorComunidad{
    margin-top: 50px;
    padding-top: 10px;
    width: 90%;
    border: 1px solid #bfceb4;
    border-radius: 10px;
    background-color: #e9f3e2;
    font-size: 100%;
}

.textoComunidad{
    font-family: $fuentetexto;
    text-align: justify;
    font-size: clamp(0.80em, 2vw ,1.2em);
}

.textoComentarios{
    font-family: $fuentetexto;
    font-size: clamp(0.80em, 2vw ,1.2em);
}

.tituloComunidad{
    font-family: $fuentetitulo;
    font-size: clamp(1em, 3vw ,1.80em);
}

.subtitulosComunidad{
    font-family: $fuentetitulo;
    font-size: clamp(.90em, 3vw ,1.10em);
    color: $SubtituloPortada;
}

.subtitulosComunidadUno{
    font-family: $fuentetitulo;
    font-size: clamp(.50em, 3vw ,.90em);
    color:#233329;
    font-weight: bolder;
}

.subtitulosComunidadDos{
    font-family: $fuentetexto;
    font-size: clamp(0.80em, 2vw ,1.1em);
    font-weight: bolder;
    color: #233329;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.card {
    border: 0;
    background: #f4f5fb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 2rem;
    box-shadow: none;
}