/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

///BANNER///
.imagenBanner {
    height: 500px;
    width:100vw; 
    background-size: cover;
}

#nombreDeLaMarca{
    text-align: center;
    width: fit-content;
    margin-left: 30%;
}

.botonRegistro{
    position:relative;
    top:1vh;
    left:80vw;
}

.banner{
    position:relative;
    left: 20%;
    margin: 0px;
}

//////NAVBAR////
.listasNav{
    width: 100vw;
}

.main{
    margin-top: 10%;
}

////NOSOTROS////
.titulosNosotros{
    grid-area: tituloN;
    font-family: 'Cinzel', serif;
    color: #9D3527;
    text-align: center;
}

.imagenNosotrosa{
    margin-right: 6%;
    width: 100%;
    height: auto;
}

.textoNosotros{
    font-size: 1.3rem;
}

.imagenNosotrosb{
    margin-top: 88%;
    margin-left: 1vh;
    width: 100%;
    height: auto;
}

////STORY//////
.story{
    grid-area: story;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

////CARRUSEL////
.tituloCar{
    grid-area:titulocar;
    margin-top: 100px;
    display: flex;
    align-content: flex-start;
}

.portadaLibroH{
    margin-left: 20%;
}

.pag{
    grid-area:pag;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.section{
    grid-area:carrusel;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
}

.sectionUno{
    grid-area:carruseluno;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
}

.sectionDos{
    grid-area:carruseldos;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
}

.titulosCarrusel{
    margin: 10px 15px;
}     

///FOOTER/////
.footerUno{
    height: 200px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

.listasFooter{
    font-family: $fuentetitulo; 
    list-style-type: none;
    color:  #df9173; 
} 
}

///// SECCION MI PERFIL/////

.librosPublicados{
    height: max-content;
    width: 32em;
}

.tituloDatosUno{
    left: 40%;
}

.datosPersonalesUno{
    left: 40%;
}

.fondoSecciones{
    background: url(../../imagenes/fondobody-01-04.png);
    background-repeat:no-repeat ;
}

.hiddenUno{
    display: none;
}
}

@media only screen and (max-device-width : 1220px) and (min-device-width: 458px){

.hiddenUno{
    display: none;
}

.hidden{
    display: none;
}

////// SECCION MI PERFIL////

.fotoMiPerfil{
    font-size: $parrafoSecundario;
    font-family: $fuentetexto;
}

.tituloDatosUno{
    position: relative;
    left: 32%;
    width: max-content;
}
.datosPersonalesUno{
    position: relative;
    left:32%;
    font-size: clamp(1.2em, 100%, 1.60rem);
    font-family: $fuentetexto;
    width: max-content;
}
.agregarQuitarCanjear{
    position: relative;
    left: 60%;
    font-size: $parrafoSecundario;
    font-family: $fuentetexto;
}
.librosPublicados{
    width: 80%;
}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px) and (max-device-width : 480px) {

///BANNER////

#nombreDeLaMarca{
    text-align: center;
    width: fit-content;
    margin:0%;
}

.banner{
    position:relative;
    left: 80%;
    padding:2px;
    height: 20px;
}

.bannerUno{
    height: 15px;
}
.main{
    grid-area: contenido;
    margin-top: 10%;
    align-content: center;
}

////////NOSOTROS//////

.titulosNosotros{
    font-family: 'Cinzel', serif;
    color: #9D3527 ;
    text-align: center;
}

.imagenNosotrosa{
    width: 100%;
    height: auto;
}

.textoNosotros{
    padding:0px 10px;
    font-size: 1rem;
}

.imagenNosotrosb{
    width: 100%;
    height: auto;
}

/////STORY//////
.story{
    grid-area: story;
    margin-top: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.contenedorStory{
    height: 1000px;

.imagenStory{
    width: 100%;
    height: auto;
}
}

/////CARRUSEL/////
.tituloCar{
    grid-area:titulocar;
    margin-top: 100px;
    display: flex;
    align-content: flex-start;
}

.hidden{
    display: none;
}

.portadaLibroH{
    margin-left: 30%;
}

.pag{
    grid-area:pag;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.section{
    grid-area:carrusel;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
}

.sectionUno{
    grid-area:carruseluno;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
}

.sectionDos{
    grid-area:carruseldos;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
}

.titulosCarrusel{
    margin: 10px 15px;
} 

////////FOOTER//////

.inicio{
    padding-left: 100px;
    margin-bottom: 15px;
}
.secciones{
    padding-left: 100px;
    margin-bottom: 15px;
}
.libros{
    padding-left: 100px;
    margin-bottom: 15px;
}

.footerLibro{
    margin-right: 60px;
}
.redesSociales{
    height: 60px;
    width:130px;
    margin-left: 15px;
}
.contacto{
    margin-right:40px;
}

.tituloDatosUno{
    position: relative;
    top: 50px;
    left: 40%;
}

.datosPersonalesUno{
    position: relative;
    top: 60px;
    left: 40%;
}
/*************************************/
/* SECCION MI PERFIL*/

.fotoMiPerfil{
    font-size: $parrafoSecundario;
    font-family: $fuentetexto;
}

.tituloDatos{
    width: max-content;
    margin-top: 20px;
    margin-left: -50px;
}
.tituloDatosUno{
    position: relative;
    left: 10%;
    width: max-content;
}

.datosPersonalesUno{
    position: relative;
    left:10%;
    font-size: clamp(1.2em, 100%, 1.60rem);
    font-family: $fuentetexto;
    width: max-content;
}
.agregarQuitarCanjear{
    position: relative;
    left: 60%;
    font-size: $parrafoSecundario;
    font-family: $fuentetexto;
}

.fondoSecciones{
    background: url(../../imagenes/fondobodycelu-01.png);
    background-repeat:no-repeat ;
}
}

@media only screen
and (max-device-width : 320px) {

.portadaLibroh{
margin-left: 30%;
    }
}
