*{
    margin: 0px;
    padding: 0px;
}


//VARIABLE//
$nombrePortadaLibros: #566e46;
$SubtituloPortada:#779165;
$fuentetitulo: 'Cinzel', serif;
$fuentetexto: 'Benne', serif;
$parrafoPrincipal:1.50em;
$parrafoSecundario:1.10em;   



// IMPORT//
@import "librosDisponibles";
@import "mediaquerie";
@import "comunidad";
@import "chats";
@import "miPerfil";
@import "registro";
@import "registrarte";

//CONDICIONAL//
@for $titulos from 1 through 6 {
    h#{$titulos}{
    font-size: 4.75em - $titulos; 
}
}


body{
    height: 100vh;
    width: 100vw;
}


/* BEM DE BANNER*/
.headerUno{
    grid-area:cabeza;
    background-color: #ffffff;
    background-image: linear-gradient(-315deg, #ffffff 0%, #d8896b 74%);

.imagenBanner{
    background: url("../../imagenes/bannerSinFondo.png");
    background-repeat: no-repeat;
}

#nombreDeLaMarca{
    color: #8CA979;
    font-family: $fuentetitulo; 
    font-size: clamp(2.5rem, 5vw, 3.75rem);
    text-shadow:2px 1px#758d65;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
    align-content: center;
}
}

.logo{
    width: fit-content;
    margin-top: 10px;
}

// BEM BOTONES REGISTRO/INICIAR SESION//
.botonRegistro{
    width: fit-content;
.banner{
    background: linear-gradient(360deg,#db7f5b 90%, #df9173 20%);
    font-family: 'Cinzel', serif;
    text-align: center;
    text-shadow: 1px 1px #888888;
    font-size: clamp(.65rem, 1vw, 1rem);
    padding: 3px;
    border-radius: 10px;
    border-color: #db7f5b;
	box-shadow:2px 2px 5px  ;
    margin: 0px;
}
}

.banner:active{
    background: #c2704f;
}

.bannerUno{
    padding: 3px;
    height: 32px;
}

/////NAVBAR//////////////
.nav{
    grid-area:barra;
    background-color:#8CA979;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 4;
    color: #08180E;

.listasNav{
    font-family:  'Cinzel', serif;
    background-color:#8CA979;
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-around; 
}
}

.itemsNavBar{
    margin-left: 8vw; 
    padding:5px 40px;
    transition: ease-in-out;
}

.itemsNavBar:hover{
    background-color:#6d835e;
}

.itemsDropdown{
    margin-left: 8vw;
    background-color:#8CA979;
}

//////*NOSOTROS*//////
.titulosNosotros{
    font-size: clamp(.70rem, 1vw, 1rem);
    font-family: 'Cinzel', serif;
    color: #9D3527 ;
    text-align: center;
}

.textoNosotros{
    font-family: $fuentetexto;
}

//////* STORY*/////

.story{
    grid-area: story;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

.textoStory{
    font-family:$fuentetexto;
    font-size: $parrafoSecundario;
}
}

.cardStory{
    background:transparent;
}

//////*CARRUSEL*/////
.tituloCar{
    grid-area:titulocar;
    margin-top: 100px;
    display: flex;
    align-content: flex-start;

.titulosCarrusel{
    font-family: 'Cinzel', serif;
    color: #9D3527;
    font-weight: bold;
    margin: 10px 15px;

.section{
    grid-area:carrusel;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: flex-start;
}        
} 
}

.portadaLibroH{
    margin-top: 10px;
    width: 55%;
    height: clamp(160px,15vh,8rem);
}
.cardFondo{
    background: linear-gradient(to bottom, #8ca97969 36%, #e1ecda2a 100%);
    box-shadow:1px 1px 5px #888888;
    border-radius: 10px;
}
.espacioBlanco{
    margin-bottom: 2.14rem;
}
.iconoLike{
    position: absolute;
    top: 12.5em;
    left: 14em;
}

.iconoLike:active{
    background-image: url(../../imagenes/likeactivo-01.png);
}

.botonActivo{
    margin: 0.40em;
    background: linear-gradient(to top, #566e46 85%, #8bb173 100%);
    border: #566e46;
    z-index: 3;
    box-shadow: 1px 1px 5px #405234;
}

.botonActivo:hover{
    background-color: #6d835e;
}

.botonActivoUno{
    margin: 0.40em;
    background: linear-gradient(360deg,#db7f5b 90%, #df9173 20%);
    z-index: 3;
    border-color:#db7f5b;
    box-shadow: 1px 1px 5px #97553b ;
}

.botonActivoUno:hover{
    background-color: #c2704f;
    border-color: #db7f5b;
}

.fuentesTitulo{
    font-family: $fuentetitulo;
    color: $nombrePortadaLibros;
}

.fuentesSubtitulo{
    font-family: $fuentetitulo;
    color: $SubtituloPortada;
}

.parrafoLibros{
    font-family: $fuentetexto;
    font-size: $parrafoSecundario;
}

.contenedorPagina{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

.numeroPagina{
    border: 0.5px solid #566e469d;
    border-radius: 4px;
    width: 4rem;
    height: 4rem;
    padding: 0.6em 1em;
    box-shadow: 0px 0px 3px #405234a9;
    color: #566e46;
    font-size: $parrafoPrincipal;
    font-family: $fuentetitulo;
}
}

.numeroPagina:hover{
    background: #6d835e60;
}

.nPagColor{
    color: #8db374;
}

.btnActivo{
    border: 0.5px solid #566e469d;
    border-radius: 4px;
    width: 4rem;
    height: 4rem;
    padding: 0.5em 1em;
    color: #566e46;
    font-size: $parrafoPrincipal;
    background:#455839;
} 

.btnActivo:active{
    background:#455839;
}

/////* BEM FOOTER*/////
.footer{
    grid-area: pie;
    margin-top: 100px;
.footerUno{
    background-color: #233329;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
.listasFooter{
    font-family: $fuentetitulo; 
    list-style-type: none;
    color:  #FEB092; 
} 
}
}
.redesSociales{
    display: flex;
    flex-flow: row nowrap;
}

.logoRedSocial{
    margin: 8px;
}

.contacto{
    margin-left:10px;
    font-family: $fuentetitulo;
}

.tituloFooter{
    font-family: $fuentetitulo;
    color: #df9173;
}
.subtituloFooter{
    font-family: $fuentetexto;
    color: #df9173;
}

.inicio{
    color: #df9173;
}
.derechos{
    background-color: #233329;
    color: #FEB092;
    font-family: $fuentetitulo;
    position: relative;
}

