.contenedorProyecto{
    display: grid;
    grid-template-areas:
    "cabeza cabeza cabeza cabeza cabeza cabeza"

    "barra barra barra barra barra barra"

    " . contenido contenido contenido . publi"

    ". story story story . publi"

    "titulocar titulocar titulocar titulocar titulocar titulocar"
    
    " carrusel carrusel carrusel carrusel carrusel carrusel"
    
    "pag pag pag pag pag pag"
    
    "titulocaru titulocaru titulocaru titulocaru titulocaru titulocaru"

    " carruseluno carruseluno carruseluno carruseluno carruseluno carruseluno"
    
    "pagu pagu pagu pagu pagu pagu"
    
    "titulocara titulocara titulocara titulocara titulocara titulocara"
    
    " carruseldos carruseldos carruseldos carruseldos carruseldos carruseldos"
    
    "pagd pagd pagd pagd pagd pagd"
    
    "pie pie pie pie pie pie";

    grid-template-rows: 500px 57px 700px 600px 40px 500px 60px 40px 500px 60px 40px 500px 60px 100px;
    grid-template-columns: 10% 1fr 1fr 1fr 5% 15%;
}

.headerUno{
    grid-area:cabeza;
}

.nav{
    grid-area:barra; 
}

.main{
    grid-area: contenido;
}

.titulosNosotros{
    grid-area: tituloN;
}

.story{
    grid-area: story;
}

.tituloCar{
    grid-area:titulocar;
}

.section{
    grid-area:carrusel;
}

.pag{
    grid-area:pag;
}

.tituloCaru{
    grid-area:titulocaru;
}