.contenedorProyecto{
    display: grid;
    grid-template-areas:
    "cabeza cabeza cabeza cabeza cabeza cabeza"

    "barra barra barra barra barra barra"

    " . contenido contenido contenido contenido ."

    ". story story story story ."

    "titulocar titulocar titulocar titulocar titulocar titulocar"

    " carrusel carrusel carrusel carrusel carrusel carrusel"

    "titulocar titulocar titulocar titulocar titulocar titulocar"

    " carruseluno carruseluno carruseluno carruseluno carruseluno carruseluno"

    "titulocar titulocar titulocar titulocar titulocar titulocar"

    " carruseldos carruseldos carruseldos carruseldos carruseldos carruseldos"

    "pie pie pie pie pie pie";

    grid-template-rows: 500px 57px 700px 600px 40px 500px 40px 500px 40px 500px 200px;
    grid-template-columns: 10% 1fr 1fr 1fr 5% 15%;
}

.headerUno{
    grid-area:cabeza;
}

.nav{
    grid-area:barra; 
}

.main{
    grid-area: contenido;
}

.story{
    grid-area: story;
}

.titulosNosotros{
    grid-area: tituloN;
}

.tituloCar{
    grid-area:titulocar;
}

.section{
    grid-area:carrusel;
}

.sectionUno {
    grid-area: carruseluno;
}

.sectionDos {
    grid-area: carruseldos;
}

.footer {
    grid-area: pie;

}