@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

.inputt {
  display: none; }

.labelLibro {
  display: flex;
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 3px solid #8CA979;
  background: linear-gradient(to top, #566e46 85%, #8bb173 100%);
  border: #566e46;
  border-radius: 8px;
  user-select: none; }
  .labelLibro .abc {
    padding-top: .20em; }
  .labelLibro div:first-child {
    width: 100%;
    line-height: 45px; }

.signoMas {
  margin-right: 15px;
  margin-top: 3px; }

.signoMas:before, .signoMas:after {
  content: '';
  border-top: 2px solid #8CA979;
  width: 15px;
  display: block;
  margin-top: 18px;
  transition: 0.5s; }

.signoMas:after {
  transform: rotate(90deg);
  margin-top: -2px; }

.content {
  box-sizing: border-box;
  margin: 10px 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height, 0.5s; }

input:checked ~ .content {
  max-height: 400px;
  transition: max-height, 1s; }

input:checked ~ label .signoMas:before {
  transform: rotate(180deg); }

input:checked ~ label .signoMas:after {
  transform: rotate(0deg); }

input:checked ~ .questions {
  max-height: 400px;
  border-bottom: 2px solid #3E474F;
  transition: 1s; }

.itemsLista {
  display: flex;
  flex-grow: row;
  margin-left: 20%;
  margin-top: 10px; }

.portadaLibros {
  font-family: "Cinzel", serif;
  color: #566e46;
  margin: 1px 1.5em; }

.iconoLibro {
  width: min-content;
  height: min-content; }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .imagenBanner {
    height: 500px;
    width: 100vw;
    background-size: cover; }
  #nombreDeLaMarca {
    text-align: center;
    width: fit-content;
    margin-left: 30%; }
  .botonRegistro {
    position: relative;
    top: 1vh;
    left: 80vw; }
  .banner {
    position: relative;
    left: 20%;
    margin: 0px; }
  .listasNav {
    width: 100vw; }
  .main {
    margin-top: 10%; }
  .titulosNosotros {
    grid-area: tituloN;
    font-family: 'Cinzel', serif;
    color: #9D3527;
    text-align: center; }
  .imagenNosotrosa {
    margin-right: 6%; }
  .textoNosotros {
    font-size: 1.3rem; }
  .imagenNosotrosb {
    margin-top: 88%;
    margin-left: 1vh; }
  .story {
    grid-area: story;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
  .tituloCar {
    grid-area: titulocar;
    margin-top: 100px;
    display: flex;
    align-content: flex-start; }
  .portadaLibroH {
    margin-left: 20%; }
  .pag {
    grid-area: pag;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center; }
  .section {
    grid-area: carrusel;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start; }
  .sectionUno {
    grid-area: carruseluno;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start; }
  .sectionDos {
    grid-area: carruseldos;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start; }
  .titulosCarrusel {
    margin: 10px 15px; }
  .footerUno {
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none; }
    .footerUno .listasFooter {
      font-family: "Cinzel", serif;
      list-style-type: none;
      color: #df9173; }
  /*MI PERFIL*/
  .librosPublicados {
    height: max-content;
    width: 32em; }
  .tituloDatosUno {
    left: 40%; }
  .datosPersonalesUno {
    left: 40%; }
  .fondoSecciones {
    background: url(../../imagenes/fondobody-01-04.png);
    background-repeat: no-repeat; }
  .hiddenUno {
    display: none; } }

@media only screen and (max-device-width: 1220px) and (min-device-width: 458px) {
  .hiddenUno {
    display: none; }
  .hidden {
    display: none; }
  /*************************************/
  /* SECCION MI PERFIL*/
  .fotoMiPerfil {
    font-size: 1.1em;
    font-family: "Benne", serif; }
  .tituloDatosUno {
    position: relative;
    left: 32%;
    width: max-content; }
  .datosPersonalesUno {
    position: relative;
    left: 32%;
    font-size: clamp(1.2em, 100%, 1.6rem);
    font-family: "Benne", serif;
    width: max-content; }
  .agregarQuitarCanjear {
    position: relative;
    left: 60%;
    font-size: 1.1em;
    font-family: "Benne", serif; }
  .librosPublicados {
    width: 80%; } }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  #nombreDeLaMarca {
    text-align: center;
    width: fit-content;
    margin: 0%; }
  .banner {
    position: relative;
    left: 80%;
    padding: 2px;
    height: 20px; }
  .bannerUno {
    height: 15px; }
  .main {
    grid-area: contenido;
    margin-top: 10%;
    align-content: center; }
  .titulosNosotros {
    font-family: 'Cinzel', serif;
    color: #9D3527;
    text-align: center; }
  .imagenNosotrosa {
    width: 400px;
    height: 250px; }
  .textoNosotros {
    padding: 0px 10px;
    font-size: 1rem; }
  .imagenNosotrosb {
    width: 400px;
    height: 250px; }
  .story {
    grid-area: story;
    margin-top: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly; }
  .contenedorStory {
    height: 1000px; }
    .contenedorStory .imagenStory {
      height: 200px; }
  .tituloCar {
    grid-area: titulocar;
    margin-top: 100px;
    display: flex;
    align-content: flex-start; }
  .hidden {
    display: none; }
  .portadaLibroH {
    margin-left: 30%; }
  .pag {
    grid-area: pag;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center; }
  .section {
    grid-area: carrusel;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start; }
  .sectionUno {
    grid-area: carruseluno;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start; }
  .sectionDos {
    grid-area: carruseldos;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start; }
  .titulosCarrusel {
    margin: 10px 15px; }
  .inicio {
    padding-left: 100px;
    margin-bottom: 15px; }
  .secciones {
    padding-left: 100px;
    margin-bottom: 15px; }
  .libros {
    padding-left: 100px;
    margin-bottom: 15px; }
  .footerLibro {
    margin-right: 60px; }
  .redesSociales {
    height: 60px;
    width: 130px;
    margin-left: 15px; }
  .contacto {
    margin-right: 40px; }
  .tituloDatosUno {
    position: relative;
    top: 50px;
    left: 40%; }
  .datosPersonalesUno {
    position: relative;
    top: 60px;
    left: 40%; }
  /*************************************/
  /* SECCION MI PERFIL*/
  .fotoMiPerfil {
    font-size: 1.1em;
    font-family: "Benne", serif; }
  .tituloDatos {
    width: max-content;
    margin-top: 20px;
    margin-left: -50px; }
  .tituloDatosUno {
    position: relative;
    left: 10%;
    width: max-content; }
  .datosPersonalesUno {
    position: relative;
    left: 10%;
    font-size: clamp(1.2em, 100%, 1.6rem);
    font-family: "Benne", serif;
    width: max-content; }
  .agregarQuitarCanjear {
    position: relative;
    left: 60%;
    font-size: 1.1em;
    font-family: "Benne", serif; }
  .fondoSecciones {
    background: url(../../imagenes/fondobodycelu-01.png);
    background-repeat: no-repeat; } }

@media only screen and (max-device-width: 320px) {
  .portadaLibroh {
    margin-left: 30%; } }

body {
  margin-top: 20px; }

.contenedorComunidad {
  margin-top: 50px;
  padding-top: 10px;
  width: 90%;
  border: 1px solid #bfceb4;
  border-radius: 10px;
  background-color: #e9f3e2;
  font-size: 100%; }

.textoComunidad {
  font-family: "Benne", serif;
  text-align: justify;
  font-size: clamp(0.8em, 2vw, 1.2em); }

.textoComentarios {
  font-family: "Benne", serif;
  font-size: clamp(0.8em, 2vw, 1.2em); }

.tituloComunidad {
  font-family: "Cinzel", serif;
  font-size: clamp(1em, 3vw, 1.8em); }

.subtitulosComunidad {
  font-family: "Cinzel", serif;
  font-size: clamp(0.9em, 3vw, 1.1em);
  color: #779165; }

.subtitulosComunidadUno {
  font-family: "Cinzel", serif;
  font-size: clamp(0.5em, 3vw, 0.9em);
  color: #233329;
  font-weight: bolder; }

.subtitulosComunidadDos {
  font-family: "Benne", serif;
  font-size: clamp(0.8em, 2vw, 1.1em);
  font-weight: bolder;
  color: #233329; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.card {
  border: 0;
  background: #f4f5fb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 2rem;
  box-shadow: none; }

/**Search Box***/
.chat-search-box {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  padding: .75rem 1rem; }

.chat-search-box .input-group .form-control {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-right: 0; }

.chat-search-box .input-group .form-control:focus {
  border-right: 0; }

.chat-search-box .input-group .input-group-btn .btn {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  margin: 0; }

.chat-search-box .input-group .input-group-btn .btn i {
  font-size: 1.2rem;
  line-height: 100%;
  vertical-align: middle; }

.users {
  padding: 0; }

.users .person {
  position: relative;
  width: 100%;
  padding: 10px 1rem;
  cursor: pointer;
  border-bottom: 1px solid #f0f4f8; }

.users .person:hover {
  background-color: #ffffff;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#ffffff));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
  /* FF3.6 */
  background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
  /* IE10 */
  background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
  /* Opera 11.10+ */
  background-image: linear-gradient(right, #e9eff5, #ffffff); }

.users .person.active-user {
  background-color: #ffffff;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9fb), to(#ffffff));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
  /* FF3.6 */
  background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
  /* IE10 */
  background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
  /* Opera 11.10+ */
  background-image: linear-gradient(right, #f7f9fb, #ffffff); }

.users .person:last-child {
  border-bottom: 0; }

.users .person .user {
  display: inline-block;
  position: relative;
  margin-right: 10px; }

.users .person .user img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

.users .person .user .status {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #e6ecf3;
  position: absolute;
  top: 0;
  right: 0; }

.users .person .user .status.online {
  background: #9ec94a; }

.users .person .user .status.offline {
  background: #c4d2e2; }

.users .person .user .status.away {
  background: #f9be52; }

.users .person .user .status.busy {
  background: #fd7274; }

.users .person p.name-time {
  font-weight: 600;
  font-size: .85rem;
  display: inline-block; }

.users .person p.name-time .time {
  font-weight: 400;
  font-size: .7rem;
  text-align: right;
  color: #8796af; }

/**Chat right side**/
.selected-user {
  width: 100%;
  padding: 0 15px;
  min-height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #e6ecf3;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0; }

.selected-user span {
  line-height: 100%; }

.selected-user span.name {
  font-weight: 700; }

.chat-container {
  position: relative;
  padding: 1rem; }

.chat-container li.chat-left,
.chat-container li.chat-right {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 40px; }

.chat-container li img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

.chat-container li .chat-avatar {
  margin-right: 20px; }

.chat-container li.chat-right {
  justify-content: flex-end; }

.chat-container li.chat-right > .chat-avatar {
  margin-left: 20px;
  margin-right: 0; }

.chat-container li .chat-name {
  font-size: .75rem;
  color: #999999;
  text-align: center; }

.chat-container li .chat-text {
  padding: .4rem 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  font-weight: 300;
  line-height: 150%;
  position: relative; }

.chat-container li .chat-text:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 10px;
  left: -20px;
  border: 10px solid;
  border-color: transparent #ffffff transparent transparent; }

.chat-container li.chat-right > .chat-text {
  text-align: right; }

.chat-container li.chat-right > .chat-text:before {
  right: -20px;
  border-color: transparent transparent transparent #ffffff;
  left: inherit; }

.chat-container li .chat-hour {
  padding: 0;
  margin-bottom: 10px;
  font-size: .75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 15px; }

.chat-container li .chat-hour > span {
  font-size: 16px;
  color: #9ec94a; }

.chat-container li.chat-right > .chat-hour {
  margin: 0 15px 0 0; }

.contenedorChat {
  margin-top: 50px;
  padding-top: 10px;
  width: 90%;
  border: 1px solid #bfceb4;
  border-radius: 10px;
  background-color: #e9f3e2;
  font-size: 100%; }

.contenedorUser {
  background-color: #bfceb4;
  border-radius: 10px; }

.fotoPerfil {
  position: relative;
  bottom: 5px; }

.parrafoLibrosUno {
  font-family: "Benne", serif;
  font-size: clamp(1em, 2vw, 1.3em);
  margin-left: 10px;
  color: #08180E; }

.botonActivoDos {
  margin: 0.50em;
  background: linear-gradient(360deg, #db7f5b 90%, #df9173 20%);
  border-color: #db7f5b;
  z-index: 3;
  box-shadow: 1px 1px 5px #97553b; }

@media (max-width: 767px) {
  .chat-search-box .input-group .form-control {
    position: absolute;
    bottom: 8px;
    right: -13em;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    border-right: 0;
    height: 35px;
    width: 160px; }
  .chat-search-box .input-group .input-group-btn .btn {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    margin-left: -7px;
    height: 35px;
    position: absolute;
    bottom: 8px;
    right: -13em; }
  .chat-search-box .input-group .form-control:focus {
    border-right: 0; }
  .users-container {
    position: relative;
    padding: 1rem 0;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }
  .chat-container li.chat-left,
  .chat-container li.chat-right {
    flex-direction: column;
    margin-bottom: 30px; }
  .chat-container li img {
    width: 32px;
    height: 32px; }
  .chat-container li.chat-left .chat-avatar {
    margin: 0 0 5px 0;
    display: flex;
    align-items: center; }
  .chat-container li.chat-left .chat-hour {
    justify-content: flex-end; }
  .chat-container li.chat-left .chat-name {
    margin-left: 5px; }
  .chat-container li.chat-right .chat-avatar {
    order: -1;
    margin: 0 0 5px 0;
    align-items: center;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse; }
  .chat-container li.chat-right .chat-hour {
    justify-content: flex-start;
    order: 2; }
  .chat-container li.chat-right .chat-name {
    margin-right: 5px; }
  .chat-container li .chat-text {
    font-size: .8rem; } }

h1 {
  font-size: 3.75em; }

h2 {
  font-size: 2.75em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 0.75em; }

h5 {
  font-size: -0.25em; }

h6 {
  font-size: -1.25em; }

body {
  height: 100vh;
  width: 100vw; }

/* BEM DE BANNER*/
.headerUno {
  grid-area: cabeza;
  background-color: #ffffff;
  background-image: linear-gradient(-315deg, #ffffff 0%, #d8896b 74%); }
  .headerUno .imagenBanner {
    background: url("../../imagenes/bannerSinFondo.png");
    background-repeat: no-repeat; }
  .headerUno #nombreDeLaMarca {
    color: #8CA979;
    font-family: "Cinzel", serif;
    font-size: clamp(2.5rem, 5vw, 3.75rem);
    text-shadow: 2px 1px #758d65;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center; }

.logo {
  width: fit-content;
  margin-top: 10px; }

.botonRegistro {
  width: fit-content; }
  .botonRegistro .banner {
    background: linear-gradient(360deg, #db7f5b 90%, #df9173 20%);
    font-family: 'Cinzel', serif;
    text-align: center;
    text-shadow: 1px 1px #888888;
    font-size: clamp(0.65rem, 1vw, 1rem);
    padding: 3px;
    border-radius: 10px;
    border-color: #db7f5b;
    box-shadow: 2px 2px 5px;
    margin: 0px; }

.banner:active {
  background: #c2704f; }

.bannerUno {
  padding: 3px;
  height: 32px; }

/*NAVBAR*/
.nav {
  grid-area: barra;
  background-color: #8CA979;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 4;
  color: #08180E; }
  .nav .listasNav {
    font-family: 'Cinzel', serif;
    background-color: #8CA979;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }

.itemsNavBar {
  margin-left: 8vw;
  padding: 5px 40px;
  transition: ease-in-out; }

.itemsNavBar:hover {
  background-color: #6d835e; }

.itemsDropdown {
  margin-left: 8vw;
  background-color: #8CA979; }

/*NOSOTROS*/
.titulosNosotros {
  font-size: clamp(0.7rem, 1vw, 1rem);
  font-family: 'Cinzel', serif;
  color: #9D3527;
  text-align: center; }

.textoNosotros {
  font-family: "Benne", serif; }

/* STORY*/
.story {
  grid-area: story;
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; }
  .story .textoStory {
    font-family: "Benne", serif;
    font-size: 1.1em; }

.cardStory {
  background: transparent; }

/*CARRUSEL*/
.tituloCar {
  grid-area: titulocar;
  margin-top: 100px;
  display: flex;
  align-content: flex-start; }
  .tituloCar .titulosCarrusel {
    font-family: 'Cinzel', serif;
    color: #9D3527;
    font-weight: bold;
    margin: 10px 15px; }
    .tituloCar .titulosCarrusel .section {
      grid-area: carrusel;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-content: flex-start; }

.portadaLibroH {
  margin-top: 10px;
  width: 100%;
  height: auto; }

.cardFondo {
  background: linear-gradient(to bottom, #8ca97969 36%, #e1ecda2a 100%);
  box-shadow: 1px 1px 5px #888888;
  border-radius: 10px; }

.espacioBlanco {
  margin-bottom: 2.14rem; }

.iconoLike {
  position: absolute;
  top: 12.5em;
  left: 14em; }

.iconoLike:active {
  background-image: url(../../imagenes/likeactivo-01.png); }

.botonActivo {
  margin: 0.40em;
  background: linear-gradient(to top, #566e46 85%, #8bb173 100%);
  border: #566e46;
  z-index: 3;
  box-shadow: 1px 1px 5px #405234; }

.botonActivo:hover {
  background-color: #6d835e; }

.botonActivoUno {
  margin: 0.40em;
  background: linear-gradient(360deg, #db7f5b 90%, #df9173 20%);
  z-index: 3;
  border-color: #db7f5b;
  box-shadow: 1px 1px 5px #97553b; }

.botonActivoUno:hover {
  background-color: #c2704f;
  border-color: #db7f5b; }

.fuentesTitulo {
  font-family: "Cinzel", serif;
  color: #566e46; }

.fuentesSubtitulo {
  font-family: "Cinzel", serif;
  color: #779165; }

.parrafoLibros {
  font-family: "Benne", serif;
  font-size: 1.1em; }

.contenedorPagina {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }
  .contenedorPagina .numeroPagina {
    border: 0.5px solid #566e469d;
    border-radius: 4px;
    width: 4rem;
    height: 4rem;
    padding: 0.6em 1em;
    box-shadow: 0px 0px 3px #405234a9;
    color: #566e46;
    font-size: 1.5em;
    font-family: "Cinzel", serif; }

.numeroPagina:hover {
  background: #6d835e60; }

.nPagColor {
  color: #8db374; }

.btnActivo {
  border: 0.5px solid #566e469d;
  border-radius: 4px;
  width: 4rem;
  height: 4rem;
  padding: 0.5em 1em;
  color: #566e46;
  font-size: 1.5em;
  background: #455839; }

.btnActivo:active {
  background: #455839; }

/* ESTOS SON LOS BEM DEL ACORDEON*/
.contenedorListaLibros {
  max-width: 800px;
  width: 100%;
  margin: 10vh auto; }
  .contenedorListaLibros .tituloPrincipalAcordion, .contenedorListaLibros .labelLibro .abc, .labelLibro .contenedorListaLibros .abc {
    font-family: 'Cinzel', serif;
    color: #E67E22;
    text-align: center; }

/* BEM FOOTER*/
.footer {
  grid-area: pie;
  margin-top: 100px; }
  .footer .footerUno {
    background-color: #233329;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none; }
    .footer .footerUno .listasFooter {
      font-family: "Cinzel", serif;
      list-style-type: none;
      color: #FEB092; }

.redesSociales {
  display: flex;
  flex-flow: row nowrap; }

.logoRedSocial {
  margin: 8px; }

.contacto {
  margin-left: 10px;
  font-family: "Cinzel", serif; }

.tituloFooter {
  font-family: "Cinzel", serif;
  color: #df9173; }

.subtituloFooter {
  font-family: "Benne", serif;
  color: #df9173; }

.inicio {
  color: #df9173; }

.derechos {
  background-color: #233329;
  color: #FEB092;
  font-family: "Cinzel", serif;
  position: relative; }

/*************************************/
/* SECCION MI PERFIL*/
.perfil {
  justify-self: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.fotoMiPerfil {
  position: relative;
  left: 45%;
  font-size: 1.1em;
  font-family: "Benne", serif;
  width: clamp(2rem, 12vh, 5em); }

.tituloDatosUno {
  position: relative;
  top: 50px;
  bottom: 30px;
  margin-bottom: 10px;
  width: max-content;
  font-size: clamp(0.1em, 30vw, 0.8rem);
  color: #233329; }

.datosPersonalesUno {
  position: relative;
  top: 60px;
  font-size: clamp(1.2em, 100%, 1.6rem);
  font-family: "Benne", serif;
  width: max-content;
  margin-bottom: 15px; }

.agregarQuitarCanjear {
  position: relative;
  left: 55%;
  top: 40px;
  font-size: 1.1em;
  font-family: "Benne", serif;
  width: max-content;
  color: #233329;
  font-weight: bolder; }
  .agregarQuitarCanjear a {
    color: #233329; }

.librosPublicados {
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  justify-content: center;
  font-family: "Benne", serif;
  position: relative;
  top: 40px;
  width: clamp(11rem, 28vw, 30rem); }

.imagenLibroPerfil {
  height: max-content;
  width: clamp(1rem, 14vw, 5rem); }

.baseColor {
  color: #233329; }

/*** SECCIÓN REGISTRARME*/
.botonReset {
  margin: 0.90em;
  background: linear-gradient(360deg, #db7f5b 90%, #df9173 20%);
  z-index: 3;
  border-color: #db7f5b;
  box-shadow: 1px 1px 5px #97553b;
  border-radius: 4px; }

.botonReset:hover {
  background-color: #c2704f;
  border-color: #db7f5b; }

.botonRedSocial {
  margin-left: 35%; }
