* {
  margin: 0px;
  padding: 0px; }

input {
  display: none; }

label {
  display: flex;
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 3px solid #8CA979;
  background-image: linear-gradient(315deg, #ffffff 0%, #8CA979 74%);
  border-radius: 8px;
  user-select: none; }
  label .abc {
    padding-top: .20em; }
  label div:first-child {
    width: 100%;
    line-height: 45px;
    /*margin-left: 10px;
    font-size: 1.2em;*/
    /*padding-left: 360px;
    padding-top: -100px;*/ }

.signoMas {
  margin-right: 15px;
  margin-top: 3px; }

.signoMas:before, .signoMas:after {
  content: '';
  border-top: 2px solid #8CA979;
  width: 15px;
  display: block;
  margin-top: 18px;
  transition: 0.5s; }

.signoMas:after {
  transform: rotate(90deg);
  margin-top: -2px; }

.content {
  box-sizing: border-box;
  margin: 10px 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height, 0.5s; }

input:checked ~ .content {
  max-height: 400px;
  transition: max-height, 1s; }

input:checked ~ label .signoMas:before {
  transform: rotate(180deg); }

input:checked ~ label .signoMas:after {
  transform: rotate(0deg); }

/*.questions{
margin-top:20px;
max-height: 0;
overflow: hidden;
transition: max-height, .5s;
}

.questions label{
border:none;
box-shadow: none;
margin:0;
}*/
input:checked ~ .questions {
  max-height: 400px;
  border-bottom: 2px solid #3E474F;
  transition: 1s; }

/*----------tool-tip------------
  
  .tip {
      color: #f03768;
      cursor: help;
      position: relative;
      overflow: visible;
      font-family: monospace;
      font-size: 1.3em;
  }
  
  .tip:before,
  .tip:after {
      position: absolute;
      opacity: 0;
      z-index: -100;    
      transform: translateY(-30%);
      transition: .4s;
  }
  
  .tip:before {
      content: '';
      border-style: solid;
      border-width: 0.8em 0.5em 0 0.5em;
      border-color: #3E474F transparent transparent transparent;
      transform: translateY(-200%);
      bottom:90%;
      left:50%;
  }
  
  .tip:after {
      content: attr(data-tip);
      background: #3E474F;
      color: white;
      width: 150px;
      padding: 10px;
      font-size: 0.8em;
      bottom: 150%;
      left: -50%;
  }
  
  .tip:hover:before,
  .tip:hover:after {
      opacity: 1;
      z-index: 100;
      transform: scaleY(1);
  }*/
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .imagenBanner {
    height: 500px;
    width: 100vw;
    background-size: cover; }
  #nombreDeLaMarca {
    text-align: center;
    width: fit-content;
    margin-left: 30%; }
  .botonRegistro {
    position: relative;
    top: 4vh;
    left: 83vw; }
  .listasNav {
    width: 100vw; }
  .itemsNavBar {
    margin-left: 8vw;
    padding: 5px 40px;
    transition: ease-in-out; }
  .itemsNavBar:hover {
    background-color: #6d835e; }
  .itemsDropdown {
    margin-left: 8vw;
    background-color: #8CA979; }
  .main {
    margin-top: 10%; }
  .titulosNosotros {
    grid-area: tituloN;
    font-family: 'Cinzel', serif;
    color: #E67E22;
    /*font-size: 30px;  */
    /*border: 1px solid coral;*/
    text-align: center; }
  .imagenNosotrosa {
    /* border: 1px solid coral;*/
    margin-right: 6%; }
  .textoNosotros {
    /*border: 1px solid coral;*/
    font-family: 'Cinzel', serif;
    /*font-size: 100%;
    padding:0px 10px;*/
    font-size: 1.05em; }
  .imagenNosotrosb {
    /*border: 1px solid coral;*/
    margin-top: 88%;
    margin-left: 1vh; }
  .story {
    grid-area: story;
    /* border: 1px solid coral;*/
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
  .imagenPubli {
    width: 200%;
    height: 100%; }
  .publi {
    width: 15%;
    height: 100%;
    display: flex;
    position: fixed; }
  .tituloCar {
    grid-area: titulocar;
    /* border: 1px solid coral;*/
    margin-top: 100px;
    display: flex;
    align-content: flex-start; }
  .section {
    grid-area: carrusel;
    /*  border: 1px solid rgb(149, 26, 173);*/
    margin-top: 110px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start; }
  .pag {
    grid-area: pag;
    /* border: 1px solid rgb(14, 145, 94);*/
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center; }
  .tituloCaru {
    grid-area: titulocaru;
    /*border: 1px solid coral;*/
    margin-top: 10px;
    padding-bottom: 50px;
    display: flex;
    align-content: flex-start; }
  .sectionUno {
    grid-area: carruseluno;
    /*border: 1px solid rgb(149, 26, 173);*/
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start; }
  .pagU {
    grid-area: pagu;
    /*border: 1px solid rgb(14, 145, 94);*/
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center; }
  .tituloCara {
    grid-area: titulocara;
    /* border: 1px solid coral;*/
    margin-top: 10px;
    padding-bottom: 50px;
    display: flex;
    align-content: flex-start; }
  .sectionDos {
    grid-area: carruseldos;
    /*border: 1px solid rgb(149, 26, 173);*/
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start; }
  .pagD {
    grid-area: pagd;
    /*border: 1px solid rgb(14, 145, 94);*/
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center; }
  .titulosCarrusel {
    font-family: 'Cinzel', serif;
    color: #997347;
    /*font-size: 14px;*/
    font-weight: bold;
    margin: 10px 15px; }
  .footer {
    grid-area: pie;
    /*border: 1px solid coral;*/
    /*margin-top: 50px;
            justify-content: center;*/
    margin-top: 50px; }
  .footerUno {
    background-color: #163b19;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #E67E22;
    font-family: 'Cinzel', serif;
    list-style-type: none; }
  .footerUno.listasFooter {
    /* display: inline-block;*/
    /*font-size: smaller;*/
    font-family: 'Cinzel', serif;
    font-weight: bold;
    list-style-type: none;
    /*padding: 5px 100px;
            margin: 10px 15px; */
    /* position: relative;
            left: 200px;*/ } }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  #nombreDeLaMarca {
    text-align: center;
    width: fit-content;
    margin: 0%; }
  .itemsNavBar {
    margin-left: 8vw;
    padding: 5px 40px;
    transition: ease-in-out; }
  .itemsNavBar:hover {
    background-color: #6d835e; }
  .itemsDropdown {
    margin-left: 8vw;
    background-color: #8CA979; }
  .main {
    grid-area: contenido;
    border: 1px solid coral;
    margin-top: 10%;
    align-content: center; }
  .titulosNosotros {
    font-family: 'Cinzel', serif;
    color: #E67E22;
    text-align: center; }
  .imagenNosotrosa {
    border: 1px solid coral; }
  .textoNosotros {
    border: 1px solid coral;
    font-family: 'Cinzel', serif;
    padding: 0px 10px; }
  .imagenNosotrosb {
    border: 1px solid coral; }
  .story {
    grid-area: story;
    border: 1px solid coral;
    margin-top: 100px;
    /*display: grid;
        grid-template-areas: 
        " imagendos imagentres imagencuatro"
        " parrafouno parrafodos parrafotres";*/
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly; }
  .aside {
    grid-area: publi;
    /* border: 1px solid coral;*/ }
  .imagenPubli {
    width: 200%;
    height: 100%; }
  .publi {
    width: 15%;
    height: 100%;
    display: flex;
    position: fixed; }
  .tituloCar {
    grid-area: titulocar;
    /* border: 1px solid coral;*/
    margin-top: 100px;
    display: flex;
    align-content: flex-start; }
  .section {
    grid-area: carrusel;
    /*  border: 1px solid rgb(149, 26, 173);*/
    margin-top: 110px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start; }
  .pag {
    grid-area: pag;
    /* border: 1px solid rgb(14, 145, 94);*/
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center; }
  .tituloCaru {
    grid-area: titulocaru;
    /*border: 1px solid coral;*/
    margin-top: 10px;
    padding-bottom: 50px;
    display: flex;
    align-content: flex-start; }
  .sectionUno {
    grid-area: carruseluno;
    /*border: 1px solid rgb(149, 26, 173);*/
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start; }
  .pagU {
    grid-area: pagu;
    /*border: 1px solid rgb(14, 145, 94);*/
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center; }
  .tituloCara {
    grid-area: titulocara;
    /* border: 1px solid coral;*/
    margin-top: 10px;
    padding-bottom: 50px;
    display: flex;
    align-content: flex-start; }
  .sectionDos {
    grid-area: carruseldos;
    /*border: 1px solid rgb(149, 26, 173);*/
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start; }
  .pagD {
    grid-area: pagd;
    /*border: 1px solid rgb(14, 145, 94);*/
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center; }
  .titulosCarrusel {
    font-family: 'Cinzel', serif;
    color: #997347;
    /*font-size: 14px;*/
    font-weight: bold;
    margin: 10px 15px; }
  .footer {
    grid-area: pie;
    /*border: 1px solid coral;*/
    /*margin-top: 50px;
        justify-content: center;*/
    margin-top: 50px; }
  .footerUno {
    background-color: #163b19;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #E67E22;
    font-family: 'Cinzel', serif;
    list-style-type: none; }
  .footerUno.listasFooter {
    /* display: inline-block;*/
    font-family: 'Cinzel', serif;
    font-weight: bold;
    list-style-type: none;
    /*font-size: x-small;*/
    /*padding: 5px 100px;
        margin: 10px 15px; */
    /* position: relative;
        left: 200px;*/ } }

ody {
  margin-top: 20px; }

/*************** 1.Variables ***************/
/* ------------------ Color Pallet ------------------ */
/*************** 2.Mixins ***************/
/************************************************
    ************************************************
										Search Box
	************************************************
************************************************/
.chat-search-box {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  padding: .75rem 1rem; }

.chat-search-box .input-group .form-control {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-right: 0; }

.chat-search-box .input-group .form-control:focus {
  border-right: 0; }

.chat-search-box .input-group .input-group-btn .btn {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  margin: 0; }

.chat-search-box .input-group .input-group-btn .btn i {
  font-size: 1.2rem;
  line-height: 100%;
  vertical-align: middle; }

@media (max-width: 767px) {
  .chat-search-box {
    display: none; } }

/************************************************
	************************************************
									Users Container
	************************************************
************************************************/
.users-container {
  position: relative;
  padding: 1rem 0;
  border-right: 1px solid #e6ecf3;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

/************************************************
	************************************************
											Users
	************************************************
************************************************/
.users {
  padding: 0; }

.users .person {
  position: relative;
  width: 100%;
  padding: 10px 1rem;
  cursor: pointer;
  border-bottom: 1px solid #f0f4f8; }

.users .person:hover {
  background-color: #ffffff;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#ffffff));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
  /* FF3.6 */
  background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
  /* IE10 */
  background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
  /* Opera 11.10+ */
  background-image: linear-gradient(right, #e9eff5, #ffffff); }

.users .person.active-user {
  background-color: #ffffff;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9fb), to(#ffffff));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
  /* FF3.6 */
  background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
  /* IE10 */
  background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
  /* Opera 11.10+ */
  background-image: linear-gradient(right, #f7f9fb, #ffffff); }

.users .person:last-child {
  border-bottom: 0; }

.users .person .user {
  display: inline-block;
  position: relative;
  margin-right: 10px; }

.users .person .user img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

.users .person .user .status {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #e6ecf3;
  position: absolute;
  top: 0;
  right: 0; }

.users .person .user .status.online {
  background: #9ec94a; }

.users .person .user .status.offline {
  background: #c4d2e2; }

.users .person .user .status.away {
  background: #f9be52; }

.users .person .user .status.busy {
  background: #fd7274; }

.users .person p.name-time {
  font-weight: 600;
  font-size: .85rem;
  display: inline-block; }

.users .person p.name-time .time {
  font-weight: 400;
  font-size: .7rem;
  text-align: right;
  color: #8796af; }

@media (max-width: 767px) {
  .users .person .user img {
    width: 30px;
    height: 30px; }
  .users .person p.name-time {
    display: none; }
  .users .person p.name-time .time {
    display: none; } }

/************************************************
	************************************************
									Chat right side
	************************************************
************************************************/
.selected-user {
  width: 100%;
  padding: 0 15px;
  min-height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #e6ecf3;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0; }

.selected-user span {
  line-height: 100%; }

.selected-user span.name {
  font-weight: 700; }

.chat-container {
  position: relative;
  padding: 1rem; }

.chat-container li.chat-left,
.chat-container li.chat-right {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 40px; }

.chat-container li img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

.chat-container li .chat-avatar {
  margin-right: 20px; }

.chat-container li.chat-right {
  justify-content: flex-end; }

.chat-container li.chat-right > .chat-avatar {
  margin-left: 20px;
  margin-right: 0; }

.chat-container li .chat-name {
  font-size: .75rem;
  color: #999999;
  text-align: center; }

.chat-container li .chat-text {
  padding: .4rem 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  font-weight: 300;
  line-height: 150%;
  position: relative; }

.chat-container li .chat-text:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 10px;
  left: -20px;
  border: 10px solid;
  border-color: transparent #ffffff transparent transparent; }

.chat-container li.chat-right > .chat-text {
  text-align: right; }

.chat-container li.chat-right > .chat-text:before {
  right: -20px;
  border-color: transparent transparent transparent #ffffff;
  left: inherit; }

.chat-container li .chat-hour {
  padding: 0;
  margin-bottom: 10px;
  font-size: .75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 15px; }

.chat-container li .chat-hour > span {
  font-size: 16px;
  color: #9ec94a; }

.chat-container li.chat-right > .chat-hour {
  margin: 0 15px 0 0; }

@media (max-width: 767px) {
  .chat-container li.chat-left,
  .chat-container li.chat-right {
    flex-direction: column;
    margin-bottom: 30px; }
  .chat-container li img {
    width: 32px;
    height: 32px; }
  .chat-container li.chat-left .chat-avatar {
    margin: 0 0 5px 0;
    display: flex;
    align-items: center; }
  .chat-container li.chat-left .chat-hour {
    justify-content: flex-end; }
  .chat-container li.chat-left .chat-name {
    margin-left: 5px; }
  .chat-container li.chat-right .chat-avatar {
    order: -1;
    margin: 0 0 5px 0;
    align-items: center;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse; }
  .chat-container li.chat-right .chat-hour {
    justify-content: flex-start;
    order: 2; }
  .chat-container li.chat-right .chat-name {
    margin-right: 5px; }
  .chat-container li .chat-text {
    font-size: .8rem; } }

.chat-form {
  padding: 15px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-top: 1px solid white; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.card {
  border: 0;
  background: #f4f5fb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 2rem;
  box-shadow: none; }

h1 {
  font-size: 3.75em; }

h2 {
  font-size: 2.75em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 0.75em; }

h5 {
  font-size: -0.25em; }

h6 {
  font-size: -1.25em; }

body {
  height: 100vh;
  width: 100vw; }

/* BEM DE BANNER*/
.headerUno {
  grid-area: cabeza;
  background-color: #ffffff;
  background-image: linear-gradient(-315deg, #ffffff 0%, #d8896b 74%); }
  .headerUno .imagenBanner {
    background: url("../../imagenes/bannerSinFondo.png");
    background-repeat: no-repeat;
    border: 5px solid #7351; }
  .headerUno #nombreDeLaMarca {
    color: #8CA979;
    font-family: 'Cinzel', serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center; }

.logo {
  width: fit-content; }

.botonRegistro {
  width: fit-content; }
  .botonRegistro .banner {
    background: #db7f5b;
    color: #ffffff;
    font-family: 'Cinzel', serif;
    text-align: center;
    padding: 3px;
    border: groove;
    border-radius: 10px;
    border-color: #db7f5b;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }

.banner:active {
  background-color: #b45b38; }

/*BEM DE NAVBAR*/
.nav {
  grid-area: barra;
  background-color: #8CA979; }
  .nav .listasNav {
    font-family: 'Cinzel', serif;
    background-color: #8CA979;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }

.itemsNavBar {
  margin-left: 8vw;
  padding: 5px 40px;
  transition: ease-in-out; }

.itemsNavBar:hover {
  background-color: #6d835e; }

.itemsDropdown {
  margin-left: 8vw;
  background-color: #8CA979; }

/* STORY*/
.story {
  grid-area: story;
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; }
  .story .textoStory {
    font-size: 0.9em;
    font-family: "Benne", serif; }

.tituloCar {
  grid-area: titulocar;
  /* border: 1px solid coral;*/
  margin-top: 100px;
  display: flex;
  align-content: flex-start; }
  .tituloCar .titulosCarrusel {
    font-family: 'Cinzel', serif;
    color: #997347;
    font-weight: bold;
    margin: 10px 15px; }
    .tituloCar .titulosCarrusel .section {
      grid-area: carrusel;
      /*  border: 1px solid rgb(149, 26, 173);*/
      margin-top: 110px;
      display: flex;
      justify-content: space-evenly;
      align-content: flex-start; }

.fuentesTitulo {
  font-family: "Cinzel", serif;
  color: #566e46; }

.fuentesSubtitulo {
  font-family: "Cinzel", serif;
  color: #8ca979; }

.parrafoLibros {
  font-family: "Benne", serif; }

/*-------------------------------*/
/* ESTOS SON LOS BEM DEL ACORDEON*/
.contenedorListaLibros {
  max-width: 800px;
  width: 100%;
  margin: 10vh auto; }
  .contenedorListaLibros .tituloPrincipalAcordion, .contenedorListaLibros label .abc, label .contenedorListaLibros .abc {
    font-family: 'Cinzel', serif;
    color: #E67E22;
    text-align: center; }

/*-------------------------------------*/
/* BEM FOOTER*/
.footer {
  grid-area: pie;
  /*border: 1px solid coral;*/
  margin-top: 50px; }
  .footer .footerUno {
    background-color: #163b19;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none; }
    .footer .footerUno .listasFooter {
      font-family: 'Cinzel', serif;
      list-style-type: none;
      color: #E67E22; }

.seccionChat {
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%); }
